In [1]:
import requests
import pandas as pd

In [2]:
url="https://www.coingecko.com/price_charts/692/usd/max.json"
url_headers = {"user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/72.0.3626.119 Safari/537.36"}
data = requests.get(url, headers = url_headers)
data

In [3]:
# 資料為json格式(匯率)
prices = data.json()['stats']
# 轉成dataframe
df = pd.DataFrame(prices)
df.columns = ['datetime', 'usd']
df.head()

        datetime       usd
0  1497398400000  0.525974
1  1497484800000  0.356111
2  1497571200000  0.350355
3  1497657600000  0.446439
4  1497744000000  0.415184

In [4]:
# total values
values = data.json()['total_volumes']
dfV = pd.DataFrame(values)
dfV.columns = ['datetime', 'values']
dfV.head()

        datetime        values
0  1497398400000  1.423460e+07
1  1497484800000  1.009138e+07
2  1497571200000  1.002630e+07
3  1497657600000  3.304578e+06
4  1497744000000  2.571688e+06

In [5]:
# 將datetime欄位轉成日期格式, 資料取樣為天
df['datetime'] = pd.to_datetime(df['datetime'], unit='ms')
dfV['datetime'] = pd.to_datetime(dfV['datetime'], unit='ms')

In [6]:
print('rate:', len(df), ' value:', len(dfV))

rate: 763  value: 763

In [7]:
df['values'] = dfV['values']
df.head()

    datetime       usd        values
0 2017-06-14  0.525974  1.423460e+07
1 2017-06-15  0.356111  1.009138e+07
2 2017-06-16  0.350355  1.002630e+07
3 2017-06-17  0.446439  3.304578e+06
4 2017-06-18  0.415184  2.571688e+06

In [8]:
# 轉成時間序列
df.index = df['datetime']
df.head()

             datetime       usd        values
datetime
2017-06-14 2017-06-14  0.525974  1.423460e+07
2017-06-15 2017-06-15  0.356111  1.009138e+07
2017-06-16 2017-06-16  0.350355  1.002630e+07
2017-06-17 2017-06-17  0.446439  3.304578e+06
2017-06-18 2017-06-18  0.415184  2.571688e+06